header{
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: 1px 0px 16px 8px rgba(0, 0, 0, 0.3);
    
    img{
        
        margin-top: 12px;
        margin-bottom: 12px;
        height: 80px;
    }
}